@{
    Layout = "_ContentNavbarLayout";
}

<div class="row">
    <div class="col-12">
        <partial name="_ManageNav" />
        @RenderBody()
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
