@* ! Brand demo (display only for navbar-full and hide on below xl) *@
@if (ViewData["navbarFull"] != null)
{
  <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-6">
  <a asp-controller="Home" asp-action="Index" class="app-brand-link gap-2">
    <span class="app-brand-logo demo">
      @await Html.PartialAsync("../_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-semibold ms-1">@TempData.Peek("appName")</span>
    </a>
  </div>
}

@* ! Not required for layout-without-menu *@
@if (ViewData["navbarHideToggle"] == null)
{
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
  <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
    <i class="ri-menu-fill ri-24px"></i>
  </a>
</div>
}

<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

<!-- Search -->
    <div class="navbar-nav align-items-center">
      <div class="nav-item d-flex align-items-center">
        <i class="ri-search-line ri-22px me-2 lh-0"></i>
        <input type="text" class="form-control border-0 shadow-none bg-body" placeholder="Search..." aria-label="Search...">
      </div>
    </div>
 <!-- /Search -->

  <ul class="navbar-nav flex-row align-items-center ms-auto">
    @* User/LoginPartial *@
    @await Html.PartialAsync("_LoginPartial")
  </ul>
</div>
