<?xml version="1.0" encoding="utf-8"?>
<!--
This profile publishes to a local folder and does not require Microsoft Web Deploy.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <WebPublishMethod>FileSystem</WebPublishMethod>
        <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <TargetFramework>net10.0</TargetFramework>
        <SelfContained>false</SelfContained>
        <PublishUrl>bin\$(Configuration)\$(TargetFramework)\publish\</PublishUrl>
        <PublishDir>bin\$(Configuration)\$(TargetFramework)\publish\</PublishDir>
        <DeleteExistingFiles>true</DeleteExistingFiles>
        <_TargetId>Folder</_TargetId>
    </PropertyGroup>
</Project>
